---
{% if env_prefix is defined %}
env_prefix: "{{ env_prefix }}"
{% endif %}
aws_region: {{ aws_region }}
static_aws_access_key: {{ '"{{ vault_static_aws_access_key }}"' }}
static_aws_secret_key: {{ '"{{ vault_static_aws_secret_key }}"' }}

aws_user_arn: "{{ aws_creds_user_arn }}"
mfa_token_arn: "{{ aws_creds_user_arn|replace("user/", "mfa/") if mfa_required|bool else "" }}"
