---
{% if env_prefix is defined %}
env_prefix: "{{ env_prefix }}"
{% endif %}
aws_region: {{ aws_region }}
mfa_token_arn: "{{  aws_creds_vault.vault_aws_user_arn|replace("user/", "mfa/") if mfa_required else "" }}"

static_aws_access_key: {{ '"{{ vault_static_aws_access_key }}"' }}
static_aws_secret_key: {{ '"{{ vault_static_aws_secret_key }}"' }}
