{
  "Version": "2012-10-17",
  "Statement": [
    {
{# Full Access to allowed resources prefixed with the environment prefix. #}
      "Effect": "Allow",
      "Action": "*",
      "Resource": [
        "arn:aws:s3:::{{ env_prefix }}-*"
{%- for region in aws_allowed_regions -%}
        ,
        "arn:aws:lambda:{{ region }}:{{ aws_account }}:function:{{ env_prefix }}-*",
        "arn:aws:logs:{{ region }}:{{ aws_account }}:log-group:/{{ env_prefix }}-*",
        "arn:aws:logs:{{ region }}:{{ aws_account }}:log-group:/aws/lambda/{{ env_prefix }}-*",
        "arn:aws:sqs:{{ region }}:{{ aws_account }}:{{ env_prefix }}-*",
        "arn:aws:sns:{{ region }}:{{ aws_account }}:{{ env_prefix }}-*"
{%- endfor %}

      ]
    },
    {
      "Effect": "Allow",
{# Allow adding and removing limited policies from roles, users and groups. #}
      "Action": [
        "iam:AttachGroupPolicy",
        "iam:AttachRolePolicy",
        "iam:AttachUserPolicy",
        "iam:DetachGroupPolicy",
        "iam:DetachRolePolicy",
        "iam:DetachUserPolicy"
      ],
      "Resource": [
        "arn:aws:iam::{{ aws_account }}:group/{{ env_prefix }}-*",
        "arn:aws:iam::{{ aws_account }}:user/{{ env_prefix }}-*",
        "arn:aws:iam::{{ aws_account }}:role/{{ env_prefix }}-*"
      ],
      "Condition": {
        "ArnEquals": {
          "iam:PolicyArn": [
{# Allow policies prefixed with the env prefix, these are used for policies that must be created by the overall admin
   to grant access to resources where we can't just allow the scoped admin to use resource policies.
   e.g. Simple Email Service does not support fine grained controls on updating sender policy, so we must use IAM. #}
            "arn:aws:iam::{{ aws_account }}:policy/{{ env_prefix }}-*",
{# Allow the basic security check policies that don't grant access to any particular resources. #}
            "arn:aws:iam::{{ aws_account }}:policy/require_https",
            "arn:aws:iam::{{ aws_account }}:policy/require_mfa"
          ]
        }
      }
    },
    {
{# List operations on all resources as needed for ansible operations. #}
      "Effect": "Allow",
      "Action": [
        "iam:ListGroups",
        "iam:ListInstanceProfiles",
        "iam:ListPolicies",
        "iam:ListRoles",
        "iam:ListUsers",
        "sns:ListTopics"
      ],
      "Resource": "*"
    },
    {
{# Very Limited IAM permissions, the goal is to allow creation of users and creds
   but not allow ways to get access to items without the environment prefix. #}
      "Effect": "Allow",
      "Action": [
        "iam:AddRoleToInstanceProfile",
        "iam:ChangePassword",
        "iam:CreateAccessKey",
        "iam:CreateGroup",
        "iam:CreateInstanceProfile",
        "iam:CreateRole",
        "iam:CreateServiceLinkedRole",
        "iam:CreateUser",
        "iam:DeleteAccessKey",
        "iam:DeleteGroup",
        "iam:DeleteInstanceProfile",
        "iam:DeleteRole",
        "iam:DeleteServiceLinkedRole",
        "iam:DeleteUser",
        "iam:GetInstanceProfile",
        "iam:GetGroup",
        "iam:GetLoginProfile",
        "iam:GetPolicy",
        "iam:GetPolicyVersion",
        "iam:GetRole",
        "iam:GetUser",
        "iam:ListAccessKeys",
        "iam:ListAttachedGroupPolicies",
        "iam:ListAttachedRolePolicies",
        "iam:ListAttachedUserPolicies",
        "iam:ListGroupsForUser",
        "iam:ListGroupPolicies",
        "iam:ListInstanceProfilesForRole",
        "iam:ListMFADevices",
        "iam:ListPolicyVersions",
        "iam:ListRolePolicies",
        "iam:ListUserPolicies",
        "iam:PassRole",
        "iam:RemoveRoleFromInstanceProfile",
        "iam:UpdateAccessKey",
        "iam:UpdateAssumeRolePolicy",
        "iam:UpdateGroup",
        "iam:UpdateRoleDescription",
        "iam:UpdateUser"
      ],
      "Resource": [
        "arn:aws:iam::{{ aws_account }}:group/{{ env_prefix }}-*",
        "arn:aws:iam::{{ aws_account }}:instance-profile/{{ env_prefix }}-*",
        "arn:aws:iam::{{ aws_account }}:policy/{{ env_prefix }}-*",
        "arn:aws:iam::{{ aws_account }}:role/{{ env_prefix }}-*",
        "arn:aws:iam::{{ aws_account }}:user/{{ env_prefix }}-*"
      ]
    }
  ]
}
