{
  "Version": "2012-10-17",
  "Statement": [
    {
{# Full Access to allowed resources prefixed with the environment prefix. #}
      "Effect": "Allow",
      "Action": "*",
      "Resource": [
        "arn:aws:s3:::{{ env_prefix }}-*"
{%- for region in aws_allowed_regions -%}
        ,
        "arn:aws:sqs:{{ region }}:{{ aws_account }}:{{ env_prefix }}-*",
        "arn:aws:sns:{{ region }}:{{ aws_account }}:{{ env_prefix }}-*"
{%- endfor %}
{% for region in ses_allowed_regions %}
  {%- for identity in ses_allowed_identities -%}
        ,
        "arn:aws:ses:{{ region }}:{{ aws_account }}:identity/{{ identity }}"
  {%- endfor %}
{% endfor %}

      ]
    },
    {
{# List operations on all resources as needed for ansible operations. #}
      "Effect": "Allow",
      "Action": [
        "iam:ListGroups",
        "iam:ListInstanceProfiles",
        "iam:ListRoles",
        "iam:ListUsers",
        "sns:ListTopics"
      ],
      "Resource": "*"
    },
    {
{# Very Limited IAM permissions, the goal is to allow creation of users and creds
   but not allow ways to get access to items without the environment prefix. #}
      "Effect": "Allow",
      "Action": [
        "iam:ChangePassword",
        "iam:CreateAccessKey",
        "iam:CreateUser",
        "iam:DeleteAccessKey",
        "iam:DeleteUser",
        "iam:GetInstanceProfile",
        "iam:GetGroup",
        "iam:GetLoginProfile",
        "iam:GetPolicy",
        "iam:GetPolicyVersion",
        "iam:GetUser",
        "iam:ListAccessKeys",
        "iam:ListAttachedUserPolicies",
        "iam:ListGroupsForUser",
        "iam:ListMFADevices",
        "iam:ListPolicyVersions",
        "iam:ListUserPolicies",
        "iam:UpdateAccessKey",
        "iam:UpdateUser"
      ],
      "Resource": [
        "arn:aws:iam::{{ aws_account }}:group/{{ env_prefix }}-*",
        "arn:aws:iam::{{ aws_account }}:instance-profile/{{ env_prefix }}-*",
        "arn:aws:iam::{{ aws_account }}:user/{{ env_prefix }}-*",
        "arn:aws:iam::{{ aws_account }}:policy/{{ env_prefix }}-*"
      ]
    }
  ]
}
